<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                Meet Sir Bodacious!
            </h1>
        </div>
        <div>
            <img src="/images/bulldog.jpg" class = "pet_image">
        </div>
        <div class = "text">
            <p>
                Sir Bodacious, otherwise known as Bo, is one of our finest gentleman. He is a two year old english bulldog. He is a perfect fit for a small family or one person. He is a very loyal and fun dog.
            </p>
            <p>
                Bo loves to learn new tricks and skills. He is a very smart and social dog who enjoys interacting with other people and dogs. He loves cuddles and spending time relaxing. For as much as Bo can be active he equally needs time to recharge. 
            </p>
            <p>
                Bo can be a trouble maker. Sometimes, he will ram his head into peoples shins or objects to move them. He also drools a lot and can leave quite a mess. He has favorite toys that he will chew on but can occasionally chew on things he shouldn't. 
            </p>
            <p>
                Bo is up to date on all of his vaccines and vet visits. He is healthy and at a good weight for his age. He does have breathing problems being a bulldog. It is advised that you to watch his physical activity to ensure he doesn't have breathing problems. 
            </p>
        </div>
    </div>
</div>