<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                How To Care For Your New Pet
            </h1>
        </div>
        <div>
            <img src="/images/sick_dog.jpg" class = "pet_image">
        </div>
        <div class = "text">
            <p>
                The two most important things about caring for your pet is making sure they are well fed and recieving the care they need. Feeding your pet well means to not use cheap kibble but rather a noutrient rich diet. Additional care includes routine vet visits and both physical and mental stimulation. 
            </p>
            <p>
                For dogs, making sure they go on daily walks and have play time. Dogs are very active and must be given the oppurtunity to release their energy. A dog can become lethargic if they aren't able to get daily exercise. 
            </p>
            <p>
                For cats, it is important to make sure they have a space where they feel comfortable. Cats are not as social as dogs and enjoy to have their own space to relax. Additionally, cats should have access to special furnitue such as cat trees and scratching posts. Cats too like to play so having toys for them will encourgae play time. 
            </p>
            <p>
                If you need assitance in taking care of your new family member make sure to reach out to us. We can assist in setting up diets and routines to make the best living situation for your pet. Additionally, we can assist in finding vets. We are here to help ensure that your new family member is introduced as smoothly as possible. 
            </p>
        </div>
    </div>
</div>
