<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                Meet Dash!
            </h1>
        </div>
        <div>
            <img src="/images/dash_1.jpg" class = "pet_image">
        </div>
        <div class = "text">
            <p>
                Dash is a 1 year old domestic short hair cat. He is currently being fostered with a family. He is a perfect match for a person wanting their first cat with no children. He does enjoy being around other cats at times but does appreciate his alone time.
            </p>
            <p>
                He loves adventuring. Dash will explore every where he can. He especially loves to explore little cracks and crevisises throughout a house. He does enjoy pets and cuddles, but will take a while to open up to a person.
            </p>
            <p>
                Once Dash picks his person, he becomes obsessed with them. He will spend a lot of time by their side as close as he can. He can still get sick of people and need time to recharge. If he does not want to be by you, he will run away. 
            </p>
            <p>
                Dash is up to date on all of his vaccines and vet visits. He is healthy and at a good weight for his age. He does need a well balanced diet as he can be sedditary. While it might take him a bit to open up, Dash is an excellent cat to bring home. 
            </p>
        </div>
    </div>
</div>
