<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                ERROR
            </h1>
        </div>
        <div>
            <img src="/images/sad_dog.jpg" class = "pet_image">
        </div>
        <div class="content">
            <p>
                Something went wrong or the page you requested is not available.
            </p>
            <P>
                Click <a href="/">here</a> to go home.
            </P>
        </div>
    </div>
</div>