<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                Welcome!
            </h1>
        </div>
        <div>
            <img src="/images/smiling dog.jpg" class = "pet_image">
        </div>
        <div class="text">
            <p>
                Happy Tails Adoption is a Chicago based animal rescue that helps families across Chicagoland find their new family member. We are a no-kill rescue and accept as many dogs and cats as we can. We also have a few pets that are available to foster until we are able to find them a forever home. We have been helping to find homes for our furry friends since 2024.
            </p>
            <h2>
                Our Mission
            </h2>
            <p>
                Here at Happy Tails, our mission is simple: To find a home for all pets who come our way. While we accept any pet who is brought to us, we additionally rescue from overcroweded shelters and facilities. Additionally, we have outreach programs to pet owners in need of assistance to provide support and resources. We are commited to ensuring that all pets are loved and cared for.
            </p>
            <h2>
                Values
            </h2>
            <p>
                We are a non-kennel shelter where we try to allow social interaction among all pets. We have large and small pens available depending on the needs to the pet. We additionally have volunteer staff who aid in caring for and watching over those in the pens. We ensure that all pets are well fed and obtain regular visits to the vet. 
            </p>
            <h2>
                How to Adopt
            </h2>
            <p>
                Come in to the shelter Wednesday-Sunday for an oppurtunity to gain one on one time with a pet. Once you find one that you would like to bring home we can start the application process. It will take about a week or shorter to get approved. Once approved you can pick up your new family member. We will check in periodically to ensure everything is going smoothly and if there is any help we can provide.
            </p>
        </div>        
    </div>
</div>
