<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-
        scale=1.0">
        <title>Happy Tails Adoption</title>
        <link rel="stylesheet" href="/css/happy_tails.css">
        </head>
        <body>
            <div id="nav">
                <div class="nav-title">
                    <h1 id="title">Happpy Tails Adoption</h1>
                </div>
                <div class="nav-align">
                    <a href="/"><span class="button">Home</span></a>
                    <a href="/pets"><span class="button">Adoptable Pets</span></a>
                    <a href="/care"><span class="button">Animal Care</span></a>
                    <a href="/contact"><span class="button">Newsletter</span></a>
                </div>
            </div>

        <%- body %>    
        </body>
