<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                Meet Mali!
            </h1>
        </div>
        <div>
            <img src="/images/mali_1.jpg" class = "pet_image">
        </div>
        <div class = "text">
            <p>
                Mali is a 8 year old sheepadoodle. She was previously with a family for most of her life but was neglected. She is now with a foster family who is lovingly taking care of her. She is perfect for a family or one person. 
            </p>
            <p>
                Mali loves to be pet, especially behind her ears. Mali loves to go on many walks during the day. She has a rotating favorite toy that switches out every two weeks. Mali loves to cuddle and get as close as she can to her people. 
            </p>
            <p>
                In Malis previous home, she was malnourished and not groomed well. She is currently on a strict diet to get back to a normal eating pattern. Additionally, she needs to be groomed reguarly until her coat is abck to healthy. She is now in good health and is being cared for. 
            </p>
            <p>
                Mali is up to date on all of her vaccines and vet visits. She recently got over an eye infection but otherwise is healthy. Due to her past history of neglect she needs to be carefully watched for any issues. She will fit right in to any home.
            </p>
        </div>
    </div>
</div>