<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                Adoptable Pets
            </h1>
        </div>
        <P>
            Click on a pets picture to view more information!
        </P>
        <div class="img_container">
            <div class="gallery">
                <div class="gallery__item1">
                    <a href="/violet">
                        <img src="images/violet_1.jpg" class="gallery__img" alt="Violet" title="Violet">
                    </a>
                </div>
                <div class="gallery__item2">
                    <a href="/dash">
                        <img src="images/dash_1.jpg" class="gallery__img" alt="Dash" title="Dash">
                    </a>
                </div>
                <div class="gallery__item3">
                    <a href="/mali">
                        <img src="images/mali_1.jpg" class="gallery__img" alt="Mali" title="Mali"> 
                    </a>
                </div>
                <div class="gallery__item4">
                    <a href="/bo">
                        <img src="images/bulldog.jpg" class="gallery__img" alt="Bo" title="Bo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>