<div class = "container">
    <div class = "row">
        <div class = "title">
            <h1>
                Meet Violet!
            </h1>
        </div>
        <div>
            <img src="/images/violet_1.jpg" class = "pet_image">
        </div>
        <div class = "text">
            <p>
                Violet is a 1 year old domestic long hair cat. She is currently being fostered with a family. She is a perfect option for a family with young children or for only one person. She does enjoy to be around other cats. 
            </p>
            <p>
                Violet loves relaxing and cuddling in bed. If she could, she would spend all day curled up in a little ball. However, sometimes she like to explore and find new places she hasn't seen before. She does enjoy to play, but will get bored quickly. She is a social cat and loves to be pet. 
            </p>
            <p>
                Food is her biggest motivator. She loves minnows and other dried treats. If you ever need to get her to move or go somewhere, just offer her some treats. Her favorite time of the day is dinner time, especially when additional toppers are added. 
            </p>
            <p>
                Violet is up to date on all of her vaccines and vet visits. She is healthy and at a good weight for her age. She does need to take vitamins and allergy medication as she can get under the weather. She is a great first time cat, who should fit into any home. 
            </p>
        </div>
    </div>
</div>